@import "../../../../assets/styles/app";

.root {
	.section {
		width: 100%;
		border: 1px solid $gray-10;
		border-radius: 4px;
		margin-bottom: 16px;

		.content {
			padding: 8px;
		}

		.sectionHeader {
			@include flex();
			background: $white-10;
			height: 85px;
			padding: 0px 8px;
			width: 100%;
			margin-bottom: 0;
		}

		.description {
			@include font-text($gray-100);
			text-align: center;
			margin-top: 8px;
			margin-bottom: 4px;

			span {
				display: block;
				color: $bad;
			}
		}

		.button {
			width: 100%;
		}

		.separator {
			width: 100%;
			@include flex();
			@include font-header4($gray-100);
			margin-top: 8px;
			margin-bottom: 8px;
		}

		.metamaskButton {
			@include flex();
			width: 100%;
			padding-left: 4px;
			padding-right: 4px;

			span {
				flex: 1;
			}

			svg {
				background-color: white;
				border-radius: 4px;
				padding: 2px;
			}
		}
	}
}
