@import "../../../assets/styles/app";

.root {
	@include page-layout();
	padding-top: 10px;

	.content {
		@include page-content(flex-start);

		.section {
			position: relative;
			margin-bottom: 20px;
			width: 100%;

			.hash {
				@include flex-left();

				p {
					margin-right: 4px;
				}
			}

			p.sectionTitle {
				margin-left: 0;
			}

			div.sectionSubtitle {
				@include font-header3($gray-60, 500, "Poppins-Medium");
				letter-spacing: 0;
				justify-content: flex-start;
				margin-top: 10px;

				span {
					margin-right: 4px;
				}

				&.bubble {
					display: inline-flex;
					align-items: center;
				}
			}

			.did {
				@include font-body16($gray-100);
				word-wrap: break-word;
			}

			.text {
				@include font-body16($gray-100);
				word-wrap: break-word;
			}
		}
	}
}
