@import "../../assets/styles/app";

.root {
	display: inline-block;

	.infoText {
		@include font-body14($gray-60);

		.imageContainer {
			@include flex();

			img {
				width: 12px;
				height: 12px;
			}
		}
	}
}
