// Container
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

// Navbar
.navbar {
	border: none;
	height: $navbar-height;
	border-radius: $navbar-border-radius;
	margin-bottom: $navbar-margin-bottom;
	padding: 0.5rem 2.25rem;
}

// Progress
.progress {
	border-radius: 28px;

	.progress-bar {
		@include box-shadow(none);
		background-color: $green-100 !important;
		height: 16px !important;
	}

	.progress-bar.bg-info {
		background-color: $blue-60 !important;
	}

	.progress-bar.bg-warning {
		background-color: $yellow !important;
	}

	.progress-bar.bg-danger {
		background-color: $danger !important;
	}

	.progress-sm {
		height: 1rem;
	}

	.progress-xs {
		height: 5px;
	}
}

/* Modal */
.modal.fade.show {
	background-color: rgba(120, 144, 156, 0.4);
}

.modal-dialog {
	width: 850px;
	max-width: 90% !important;

	&.dark {
		.modal-header {
			border-bottom: solid 1px $gray-80;
		}

		.modal-footer {
			border-top: solid 1px $gray-80;
		}

		.modal-content {
			background-color: $gray-90;

			.modal-title {
				color: $white-10;
			}

			.close {
				color: $white-10;
			}
		}
	}

	&.dialog-md {
		width: 650px;
		max-width: 90% !important;
		margin: auto;
	}

	&.dialog-sm {
		max-width: 445px !important;
	}

	.modal-title {
		width: 100%;
	}

	.modal-body {
		padding: 16px;
	}

	.modal-footer {
		position: relative;
		padding: 8px;

		& > * {
			margin: 0;
		}

		& > button + button {
			margin-left: 8px;
		}
	}

	.ReactCrop {
		height: 100%;

		.ReactCrop__image {
			max-height: 300px;
		}
	}
}

/* Table widget */
.react-bs-table-container {
	.table {
		margin-bottom: 0;
	}

	&.dark {
		.react-bs-table-bordered {
			border: solid 1px $gray-60;

			th,
			td {
				color: $white-10;
			}
		}
	}

	.react-bs-table {
		overflow-x: auto;
		max-width: 100%;

		.react-bs-container-header,
		.react-bs-container-body {
			overflow: visible;
			min-width: 800px;
		}
	}

	&.wide-table {
		.react-bs-container-header,
		.react-bs-container-body {
			min-width: 1280px;
		}
	}

	&.weave-scrollable-table {
		max-height: 600px;
		overflow-y: auto;
	}

	&.no-border {
		.react-bs-table-bordered {
			border: none !important;
		}
	}

	.react-bs-container-body {
		overflow: visible;
	}

	.react-bs-container-header {
		.table {
			border-bottom: 0;
		}
	}

	.fa {
		width: 20px;
		height: 20px;
		padding-top: 1px;
		margin-left: 4px !important;
		vertical-align: middle;
		text-align: center;
	}

	&.weave-filtered-table {
		.react-bs-container-header {
			overflow: visible;

			th {
				vertical-align: top;
				overflow: visible;

				.select-filter,
				.select-filter.placeholder-selected {
					@include font-body12($gray-60);
					font-style: normal;
					border: 1px solid $gray-20;
					border-radius: 4px;
				}
			}
		}
	}

	&.no-scroll {
		.react-bs-table {
			overflow: unset;
			min-width: 800px;
		}
	}

	&.no-border {
		border: none;

		th {
			border-bottom: none;
		}
	}

	&.no-header {
		margin-top: 12px;

		thead {
			display: none;
		}
	}
}

/* Pager */
.react-bs-table-pagination {
	@include font-body14($blue-100);

	.page-item {
		.page-link {
			color: $blue-100;
		}
	}

	.active.page-item {
		.page-link {
			background-color: $blue-100;
			border-color: $blue-100;
			color: $white-color;
		}
	}
}


ol {
	padding-left: 25px;
}