@import "../../../assets/styles/app";

.root {
	@include page-layout();

	.content {
		@include page-content(flex-start);

		.cards {
			width: 100%;
			@include flex();
			justify-content: space-between;
			flex-wrap: wrap;

			.card {
				padding: 12px 16px;
				border-radius: 4px;
				width: 220px;
				flex: 1;
				height: 72px;

				&.earnings {
					min-width: 350px;
					background: $green-60;

					.earned {
						@include font-header1($gray-100, "Poppins-Medium", 700);
						text-align: right;
						letter-spacing: -0.68px;

						span {
							@include font-header4($gray-60, "Poppins", 600);
						}
					}
				}

				&.accepted {
					background: $green-60;
				}

				&.rejected {
					background-color: #f8d7da;
				}

				&.pending {
					background-color: $blue-60;
				}

				&.submitted {
					background-color: $white-10;
				}

				.title {
					@include font-header5($gray-80, "Poppins", 600);
				}

				.value {
					@include font-body20($gray-100, "Poppins-Medium", 700);
					text-align: right;
					letter-spacing: -0.4px;
					width: 100%;
				}
			}

			.card + .card {
				margin-left: 20px;
			}
		}
	}
}
